<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="container">
    <%- include('../partials/header') %>

    <main>
      <div class="junbotron">
        <h1>Sobre Mim</h1>
        <p>Ola, Me chamo Jean e sou aluno da rocketseat</p>
      </div>
    </main>
  </body>
  <%- include('../partials/footer') %>
</html>
